body{
    background-color: rgba(72, 94, 241, 0.186)
}

h1{
    color: green;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
    border: 3px #000 solid;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
}
h1:hover {
    color: aqua;
    border: 3px #ec0fce solid;
    background-color: white;
    text-align: right;
}

.bg-red{
    background-color: red;
}

